body,html{
    height: 100%;
    margin:0 auto;
}
.link{
    color: black; 
    padding: 10px 20px;
    
}
.link:hover{
    background: black;
    color: white;
    font-style: normal
}
.link:checked{
    background: dimgray;
}
.link:active{
    background: dimgray;
}
.section1{
    background: url('maxresdefault.png');
    width:100%; 
    height: 100%;
    text-align: center;
}
.judul{
    font-family: arial;
    font-size: 60px;
    color: black;
}.subjudul{
    font-family: arial;
    font-size: 40px;
    color: dimgray;
}
.section2{
    background: white; 
    padding: 100px 0px;
}
.inside{
    font-family: arial;
    font-size: 60px;
    color: black; 
}
.insider{
    font-family: arial;
    font-size: 40px; 
    color: dimgray;
}
.section3{
    background: white; 
    padding: 100px 0px;
}
.col-warna1{
    background: white;
}
.headercoy{
    text-align: center;
    font-size: 30px; 
    font-family: arial;
    color: black;
}
.kolom{
    font-family: arial;
    font-size: 60px;
    color: black;
    margin: auto;
}
